<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/renterhub"
          ><img src="/assets/newRenterHubLogo.png" id="logo" /><span
            id="name_of_site"
            >RenterHub</span
          ></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="/renterhub" style="color: blue"
              >Home</a
            >
            <a class="nav-link" href="/renterhub/about" style="color: blue">About Us</a>
            <a class="nav-link" href="/renterhub/newListing" style="color: deeppink"
              >rent your home</a
            >
            <a class="nav-link" href="/renterhub/services" style="color: blue">our services</a>
          </div>
        </div>
        <span class="user_login"
          ><button
            onclick="document.getElementById('id02').style.display='block'"
            style="width: auto"
          >
            SignUp
          </button>
          |
          <button
            onclick="document.getElementById('id01').style.display='block'"
            style="width: auto"
          >
            Login
          </button>
          <i class="fa-solid fa-user"></i
        ></span>
      </div>
    </nav>

    <div id="id01" class="modal">
      <form
        class="modal-content animate"
        action="/renterhub/Login_verification"
        method="post"
      >
        <div class="imgcontainer">
          <span
            onclick="document.getElementById('id01').style.display='none'"
            class="close"
            title="Close Modal"
            >&times;</span
          >
          <img src="/assets/avatorforLogin.jpg" alt="Avatar" class="avatar" />
        </div>

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input
            type="text"
            placeholder="Enter Username"
            name="name"
            required
          />

          <label for="psw"><b>Password</b></label>
          <input
            type="password"
            placeholder=" Password"
            name="password"
            required
          />

          <button type="submit" class="login_btn">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember" /> Remember
            me
          </label>
        </div>

        <div class="container" style="background-color: #f1f1f1">
          <button
            type="button"
            onclick="document.getElementById('id01').style.display='none'"
            class="cancelbtn"
          >
            Cancel
          </button>

          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>
    <div id="id02" class="modal">
      <form
        class="modal-content animate"
        action="/renterhub/SignUp_verification"
        method="POST"
      >
        <div class="imgcontainer">
          <span
            onclick="document.getElementById('id02').style.display='none'"
            class="close"
            title="Close Modal"
            >&times;</span
          >
          <img src="/assets/avatorforLogin.jpg" alt="Avatar" class="avatar" />
        </div>

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input
            type="text"
            placeholder="Enter Username"
            name="name"
            required
          />

          <label for="psw"><b>Email</b></label>
          <input
            type="email"
            placeholder="Enter email"
            name="email"
            required
             style="width:100%;padding:0.6rem;border:1px solid purple;border-radius: 4px;"
          />
          <br><br>

          <label for="psw"><b>Password</b></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="password"
            required
            style="width:100%;padding:0.6rem;border:1px solid purple;border-radius: 4px;"
          />

          <button type="submit" class="login_btn">SignUp</button>
        </div>

        <div class="container" style="background-color: #f1f1f1">
          <button
            type="button"
            onclick="document.getElementById('id02').style.display='none'"
            class="cancelbtn"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
    <div class="row row-cols-md-3 container_for_images">
      <% for(let listing of allListings ){ %>

        <a href="/renterhub/<%=listing._id %>" style="text-decoration: none;">
           <div class="card" style="width: 18rem">
        <i class="fa-regular fa-heart"></i>
       <img src="<%= listing.img_url %>" class="card-img-top" alt="image" />
        <div class="card-body">
          <p class="card-text">
            <ul style="list-style: none; margin-left: -2rem;">
            <li><b><%= listing.title %></b></li>
            <li><%= listing.location %></li>
            <li><%= listing.country %></li>
            <li> &#8377;<%= listing.price.toLocaleString("en-IN") %>/per night</li>
            </ul>
          </p>
        </div>
      </div></a>

      <% } %>
    </div>

    <footer>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos saepe eum,
      ut, at, voluptate odit magni earum sed distinctio accusantium ab. Beatae
      doloribus veritatis cupiditate aspernatur delectus excepturi? Vero, quasi.
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script>
      // Get the modal
      var modal1 = document.getElementById("id01");
      var modal2 = document.getElementById("id02");

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal1) {
          modal1.style.display = "none";
        }
      };
      window.onclick = function (event) {
        if (event.target == modal2) {
          modal2.style.display = "none";
        }
      };
    </script>
  </body>
</html>
